#mainDiv{
	background-color: rgb(245, 151, 64);

	width: 100%;
	height: auto;
}

#inputFormDiv{
	height: 500px;
	width: 500px;

	background-color: rgb(115, 63, 15);

	margin: 0;
	position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)

    display: grid;
	grid-template-columns: repeat(1, 1fr);
	grid-template-rows: repeat(5, 20px);
}

#inputTextLogin{
	height: 30px;
	width: 300px;
	border-style: solid;
	border-width: 5px;
	border-color: rgb(245, 151, 64);

    grid-row-start: 1;
    align-self: center;
    justify-self: center;
}

#inputTextPassword{
	height: 30px;
	width: 300px;
	border-style: solid;
	border-width: 5px;
	border-color: rgb(245, 151, 64);

    grid-row-start: 2;
    align-items: center;
}

#inputSubmit{
	height: 30px;
	width: 300px;

	grid-row-start: 3;
	align-items: center;
}

#linkZab{
	color: white;

	grid-row-start: 4;
	align-items: center;
}

#linkReg{
	color: white;

	grid-row-start: 5;
	align-items: center;
}