<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">

                <a class="navbar-brand" href="{% url 'showCatalog' %}">Каталог</a>

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                        {% if request.user.is_authenticated %}
                            <li class="nav-item"><a class="nav-link" href="/detailUser/">{{ request.user.first_name }}</a></li>
                            <li class="nav-item"><a class="nav-link" href="{% url 'cart' %}">Корзина <span class="badge badge-pill badge-danger">{{ structure.count }}</span></a></li>
                            <li class="nav-item"><a class="nav-link" href="{% url 'logout' %}">Выйти</a></li>
                        {% else %}
                            <li class="nav-item"><a class="nav-link" href="{% url 'input' %}">Войти</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>