#headDiv{
	display: grid;
	grid-template-columns: repeat(3, 1fr);

	background-color: rgb(115, 63, 15);

	width: auto;
	height: 80px;
}

#searchDiv{
	background-color: red;
}

#titleDiv{
	background-color: yellow;
}

#inputDiv{
	background-color: green;
}

#searchForm{
}