{% extends "admin/base_site.html" %}

{% block content_title %}

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

<form method="post" action="{% url 'report' %}">
        {% csrf_token %}
    <input type="date" placeholder="Начало периода" name="dateStart">
    <input type="date" placeholder="Конец периода" name="dateEnd">
    <input type="submit" value="Составить отчет по выручке">
</form>

{% endblock %}